*.suo 
/[Ll]ogs 
/[Ll]og 
/[Bb]in 
/obj 
/[Dd]ebug 
/[Rr]elease 
*.user 
*.aps 
*.eto 
/ClientBin 
/GenerateArtifacts_Pvt_Extensions  
*.o 
*.lo 
*.la 
*.al 
/.libs 
*.so 
*.so.[0-9]* 
*.a 
*.pyc 
*.pyo 
/__pycache__ 
*.rej 
*~ #*# 
.#* 
.*.swp 
.DS_Store